In [2]:
import psycopg2
#Psycopg2 is a popular open-source Python library that provides an interface for connecting to PostgreSQL databases. It allows Python programs to interact with PostgreSQL databases

In [3]:
import pandas as pd

In [4]:
def create_database():
    try:
        conn = psycopg2.connect("host=localhost dbname=postgres user=postgres password=password")
    except psycopg2.Error as e :
        print("error,couldnt conmnect to database")
        print(e)
    conn.set_session(autocommit=True) 
    #sets the database connection's session to autocommit mode. In autocommit mode, each SQL statement you execute is automatically committed to the database
    cur = conn.cursor()
    # the cur cursor to execute SQL statements and queries within an autocommit mode, and the changes will be immediately applied to the database without the need for explicit commit commands.
    
    cur.execute("DROP DATABASE IF EXISTS movie1")#drop the database "movie" if it exists
    cur.execute("CREATE DATABASE movie1")  #creating a new database named"movie"
    
    #close connection to default database
    conn.close()
    try:
        conn = psycopg2.connect("host=localhost dbname=movie1 user=postgres password=password")
    except psycopg2.Error as e:
        print("error, couldnt connect to database")
        print(e)
    conn.set_session(autocommit = True)    
    cur = conn.cursor()
    
    return cur , conn
    #returning both the cursor (cur) and the connection (conn) as a tuple. This allows you to easily access both the cursor and the connection when you call the function.

In [5]:

movielist = pd.read_csv(r"C:\Users\User\Desktop\python\netflix_titles.csv")

In [6]:
movielist.tail()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8803,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [7]:

movies = movielist[['type','title','director','release_year']]

In [8]:
movie_clean=movies.dropna()

In [9]:
movie_clean.head(5)

,type,title,director,release_year
0,Movie,Dick Johnson Is Dead,Kirsten Johnson,2020
2,TV Show,Ganglands,Julien Leclercq,2021
5,TV Show,Midnight Mass,Mike Flanagan,2021
6,Movie,My Little Pony: A New Generation,"Robert Cullen, José Luis Ucha",2021
7,Movie,Sankofa,Haile Gerima,1993

In [10]:
cur , conn = create_database()

ObjectInUse: database "movie1" is being accessed by other users
DETAIL:  There is 1 other session using the database.

In [ ]:
tab= (""" CREATE TABLE  movielist(
type VARCHAR,
title VARCHAR PRIMARY KEY,
director VARCHAR,
release_year VARCHAR) """)

In [ ]:
cur.execute(tab)
conn.commit() #statement is used to commit (save) the changes made during the current database transaction to the PostgreSQL database

In [ ]:
tab_insert = (""" insert into movielist(type,title,director,release_year)
values(%s,%s,%s,%s)""") #The %s placeholders are placeholders for parameterized values that you will supply when executing the query.

In [ ]:
for i,row in movie_clean.iterrows():# iterrows returns index and information stored in a row of a data frame
    cur.execute(tab_insert,list(row))# So we are reading each row from reviews dataframe and inserting it into reviews table